.root{

    -fx-background-image: url("stars.gif");
    -fx-background-size: 600px 200px;
    -fx-max-width:100%;
}

.player{
    -fx-font-family: Impact;
    -fx-font-size: 16pt;
    -fx-text-fill: skyblue ;
    -fx-font-weight: bold;
    -fx-font-style:oblique;
}.radio{
    -fx-font-family: Impact;
    -fx-font-size: 14pt;
    -fx-text-fill:firebrick  ;
    -fx-font-weight: bold;
    -fx-font-style:oblique;
}